dash>=2.7.0
plotly>=5.9.0
pandas>=1.5.3
numpy>=1.24.3
pydoi>=0.2.1
matplotlib>=3.7.1
pyorbital>=1.7.3
tqdm>=4.65.0
pymed>=0.8.9
scikit-learn>=1.2.2
pillow>=9.4.0
networkx>=2.8.4
requests>=2.29.0
pyalex>=0.9
wos>=0.2.7
openai>=0.27.4
colorama>=0.4.6
pypdf2>=2.10.5
h5py>=3.7.0
lifelines>=0.27.7
scipy>=1.10.1
seaborn>=0.12.2
tensorflow>=2.10.0
keras>=2.10.0
python-dotenv>=0.21.0
langchain>=0.0.170
visdcc>=0.0.50