pip>=23.1.2
wheel>=0.36.2
setuptools>=53.0.0
Flask>=1.1.2
Flask-Compress>=1.8.0
dash>=2.7.0
plotly>=5.9.0
matplotlib>=3.7.1
tqdm>=4.65.0
pymed>=0.8.9
scikit-learn>=1.2.2
requests>=2.29.0
pyalex>=0.9
openai>=0.27.4
colorama>=0.4.6
pypdf2>=2.10.5
h5py>=3.7.0
seaborn>=0.12.2
python-dotenv>=0.21.0
langchain>=0.0.170
wikipedia-api
gunicorn>=20.0.4
chromadb
Jinja2>=2.11.3
MarkupSafe>=1.1.1
Brotli>=1.0.9
click>=7.1.2
dash-bootstrap-components>=0.11.2
dash-core-components>=2.0.0
dash-html-components>=2.0.0
dash-renderer>=1.9.0
dash-table>=5.0.0
future>=0.18.2
itsdangerous>=1.1.0
numpy>=1.24.3
pandas>=1.5.3
plotly>=5.9.0
python-dateutil>=2.8.1
pytz>=2021.1
retrying>=1.3.3
six>=1.15.0
Werkzeug>=1.0.1
pydantic>=1.10.7
visdcc>=0.0.50