@font-face {
    font-family: "lightFont";
    src: url("/assets/font/Font-Light.otf") format("opentype");
}

@font-face {
    font-family: "regularFont";
    src: url("/assets/font/Font-Regular.otf") format("opentype");
}

@font-face {
    font-family: "ultraboldFont";
    src: url("/assets/font/Font-Ultrabold.otf") format("opentype");
}

@font-face {
    font-family: "roboto-light";
    src: url("/assets/Roboto/Roboto-Light.ttf") format("opentype");
}
